
    .box1{
        height: 350px;
        width: 300px;
        border: 1px solid lightgrey;
        padding: 10px;
    }
    .main{
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-items: center;
        grid-column-gap: 15px ;
        grid-row-gap: 35px ;
    }
    .btn1{
        background-color: cadetblue;
        color:white ;
        padding: 10px;
        border: 0px;
        border-radius: 10px;
    }
    a {
        text-decoration: none;
        color: white;
    }
    .main div:hover{
        transform: scale(1.5);
        transition: 1s;
    }

    
